<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="com/jyz/study/mybatis/jdbc.properties"></properties>
	<typeAliases>
		<typeAlias alias="Blog" type="com.jyz.study.mybatis.po.Blog"/>
	</typeAliases>
	<typeHandlers> 
        <typeHandler javaType="com.jyz.study.mybatis.po.Content"    handler="com.jyz.study.mybatis.handler.JSONHandler"/> 
	</typeHandlers> 
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/jyz/study/mybatis/mapper/BlogMapper.xml"/>
	</mappers>
</configuration>